<p id="notice"><%= notice %></p>

<p>
  <strong>Id editore:</strong>
  <%= @lpublisher.ID_EDITORE %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @lpublisher.Nome %>
</p>

<%= link_to 'Edit', edit_lpublisher_path(@lpublisher) %> |
<%= link_to 'Back', lpublishers_path %>
