<p id="notice"><%= notice %></p>
<h4> Params </h4> <%= debug(params) %>



<h1>Publishers</h1>

<% @publishers.each do |lo_item| %>
   <p> <%= lo_item.nome %>
<% end %>

<%= will_paginate(@publishers) %>
<br>

<%= link_to 'New Publisher', new_publisher_path %>
