<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @publisher.nome %>
</p>

<p>
  <strong>Vecchioid:</strong>
  <%= @publisher.vecchioid %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
