<p id="notice"><%= notice %></p>

<p>
  <strong>Vecchioid:</strong>
  <%= @book.vecchioid %>
</p>

<p>
  <strong>Titolo:</strong>
  <%= @book.titolo %>
</p>

<p>
  <strong>Prezzoeurodec:</strong>
  <%= @book.prezzoeurodec %>
</p>

<p>
  <strong>Edizione:</strong>
  <%= @book.edizione %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Copie:</strong>
  <%= @book.copie %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @book.deposito %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher_id %>
</p>

<p>
  <strong>Idtipoopera:</strong>
  <%= @book.idtipoopera %>
</p>

<p>
  <strong>Annoedizione:</strong>
  <%= @book.annoedizione %>
</p>

<p>
  <strong>Note:</strong>
  <%= @book.note %>
</p>

<p>
  <strong>Idaliquotaiva:</strong>
  <%= @book.idaliquotaiva %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @book.url2 %>
</p>

<p>
  <strong>Annomodifica:</strong>
  <%= @book.annomodifica %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
