<p id="notice"><%= notice %></p>

<h3>In totale esistono <%= @publisherTotali %> Publishers.</h3>
<h3>L'esito di questa ricerca è costituito da <%= @numeroFiltrati %> elementi.</h3>

<p>
  <strong>termine:</strong>
  <%= @search.termine %>
</p>
<p>
  <strong>tabella:</strong>
  <%= @search.tabella %>
</p>

<% content_for(:title, @search.termine) %>
<article id="search" class="search">
  <header>
    <h3><%= @search.termine %></h3>
    <h3><%= @search.tabella %></h3>
  </header>
<p><%= "per eseguire la ricerca useremo la stringa seguente: #{@ricerca}" %> </p>
La esecuzione del metodo exec_link_for porta al risultato seguente:<br>
<%= exec_link_for(@search.termine, @ricerca) %> .<br>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
