<p id="notice"><%= notice %></p>

<p>
  <strong>C01 vecchioid:</strong>
  <%= @lbook.c01_vecchioid %>
</p>

<p>
  <strong>C02 titolo:</strong>
  <%= @lbook.c02_titolo %>
</p>

<p>
  <strong>C03 prezzoeurodec:</strong>
  <%= @lbook.c03_prezzoeurodec %>
</p>

<p>
  <strong>C04 edizione:</strong>
  <%= @lbook.c04_EDIZIONE %>
</p>

<p>
  <strong>C05 iddistributore:</strong>
  <%= @lbook.c05_IDDISTRIBUTORE %>
</p>

<p>
  <strong>C06 idserie:</strong>
  <%= @lbook.c06_IDSERIE %>
</p>

<p>
  <strong>C07 isbn:</strong>
  <%= @lbook.c07_ISBN %>
</p>

<p>
  <strong>C08 copie:</strong>
  <%= @lbook.c08_copie %>
</p>

<p>
  <strong>C09 deposito:</strong>
  <%= @lbook.c09_deposito %>
</p>

<p>
  <strong>C10 publisher:</strong>
  <%= @lbook.c10_publisher_id %>
</p>

<p>
  <strong>C11 idtipoopera:</strong>
  <%= @lbook.c11_IDTIPOOPERA %>
</p>

<p>
  <strong>C12 annoedizione:</strong>
  <%= @lbook.c12_ANNOEDIZIONE %>
</p>

<p>
  <strong>C13 note:</strong>
  <%= @lbook.c13_note %>
</p>

<p>
  <strong>C14 idaliquotaiva:</strong>
  <%= @lbook.c14_idaliquotaiva %>
</p>

<p>
  <strong>C15 url2:</strong>
  <%= @lbook.c15_url2 %>
</p>

<%= link_to 'Edit', edit_lbook_path(@lbook) %> |
<%= link_to 'Back', lbooks_path %>
